html {
    margin: 0;
    padding: 0;
}

body {
    margin: 0;
    padding: 0;
}

#top-bar {
    display: flex;
    flex-flow: row nowrap;
    min-width: 100%;
}

#top-spacer {
    flex-grow: 1;
}

#top-btns {
    justify-content: flex-end;
}

#main-container {
    display: flex;
    flex-flow: row wrap;
}

#reqs {
    max-width: 20%;
    border: 1px solid black;
    flex-grow: 1;
}

#plan-finder-container {
    display: flex;
    flex-flow: column wrap;
}



#plan {
    display: flex;
    flex-flow: row wrap;
}

.semester {
    border: 1px solid black;
    min-width: 10%;
    min-height: 10%;
    margin: 4px;
}