html {
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-flow: column nowrap;
    margin: 0;
    padding: 0;
    border: none;
    background-image: url("../images/bg.jpg");
    min-height: 100vh;
}

#top-bar {
    display: flex;
    flex-flow: row nowrap;
    border: none;
}

#top-words {
    justify-content: flex-start;
    border: none;
    margin-left: 1vh;
}

#top-spacer {
    flex-grow: 1;
    border: none;
}

#top-btn-container {
    align-items: center;
    display: flex;
    justify-self: flex-end;
    justify-content: flex-end;
    flex: column nowrap;
    flex-grow: 1;
    border: none;
}

.top-btn {
    border: none;
    margin: 1vw;
    padding: 2%;
    background-color: rgba(0, 0, 0, 0.3);
}

#main-container {
    display: flex;
    flex: 1;
    flex-flow: row nowrap;
    border: none;
}

#left-container {
    flex: 1;
    flex-grow: 2;
    display: flex;
    flex-flow: column nowrap;
}

#reqs {
    flex: 1;
    flex-grow: 8;
    border: none;
    margin: 4px;
    min-width: 10%;
    background-color: rgba(0, 0, 0, 0.3);
}

#links {
    flex: 1;
    flex-grow: 1;
    margin: 4px;
    border: none;
    background-color: rgba(0, 0, 0, 0.3);
}

#plan-finder-container {
    flex: 1;
    flex-grow: 7;
    display: flex;
    flex-flow: column wrap;
    border: none;
}

#plan {
    flex: 1;
    flex-grow: 8;
    display: flex;
    flex-flow: column wrap;
    border: none;
}

.year {
    flex: 1;
    border: none; 
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row;
}

#course-finder {
    flex: 1;
    flex-grow: 1;
    border: none;
    margin: 4px;
    background-color: rgba(0, 0, 0, 0.3);
}

.semester {
    flex: 1;
    margin: 4px;
    border: none;
    background-color: rgba(0, 0, 0, 0.3);
}