@page
@model ForgotPasswordConfirmation
@{
    ViewData["Title"] = "Forgot password confirmation";
}

<div class="labels">@ViewData["Title"]</div>
<p class="body">
    Please check your email to reset your password.
</p>
