@page
@model LoginModel

@{
    ViewData["Title"] = "Log in";
}

<div>
    <div class="col-md-4">
        <section>
            <form id="account" method="post">
                <h1 class="labels">@ViewData["Title"]</h1>
                <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>
                <div class="form-floating mb-3 basicContainer">
                    <input asp-for="Input.Email" class="form-control btn-clickable" autocomplete="username" aria-required="true" placeholder="name@example.com" />

                    <span asp-validation-for="Input.Email" class="text-danger"></span>
                </div>
                <div class="basicContainer">
                    <input asp-for="Input.Password" class="form-control btn-clickable" autocomplete="current-password" aria-required="true" placeholder="password" />
                    <span asp-validation-for="Input.Password" class="text-danger"></span>
                </div>
                <div class="checkbox mb-3 basicContainer">
                    <div>
                        <button id="login-submit" type="submit" class="btn-clickable">Log in</button>
                    </div>
                    <label asp-for="Input.RememberMe" class="form-label labels">
                        <input class="form-check-input" asp-for="Input.RememberMe" />
                        @Html.DisplayNameFor(m => m.Input.RememberMe)
                    </label>
                </div>
                <div class="basicContainer">
                    <p>
                        <button class="btn-clickable" id="forgot-password" asp-page="./ForgotPassword">Forgot password?</button>
                    </p>
                    <p>
                        <button class="btn-clickable" asp-page="./Register" asp-route-returnUrl="@Model.ReturnUrl">Register</button>
                    </p>
                    <p>
                        <button class="btn-clickable" id="resend-confirmation" asp-page="./ResendEmailConfirmation">Resend confirmation</button>
                    </p>
                </div>
            </form>
        </section>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
